<html>
<head>
<title>CheckRx - John Smith</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>John Smith's Medications and Documents</h1>
<h2>Shared by CheckRx - <a class="print" href="">print<a></h2>
<div class="main">
    <div class="meds">
        <h3>Medication History</h3>
        <div class="med">
            <p><b>Amlodipine 5 mg</b> - Norvasc | <i>active</i> | Started on July 7th, 2020 | Take one tablet orally once daily</p>
            Recently filled on:
            <ul>
                <li>June 29th, 2022</li>
                <li>March 1st, 2022</li>
                <li>December 17th, 2021</li>
                <li>August 29th, 2021</li>
            </ul>
            Prescribed by Dr. Jamie Fang (85743)<br />
            <i>Last edit: R.Ph Sam Jung</i>
        </div>
        <hr />
        <div class="med">
            <p><b>Rosuvastatin 10 mg</b> - Crestor | <i>active</i> | Started on July 7th, 2020 | Take one tablet orally at bedtime</p>
            Recently filled on:
            <ul>
                <li>June 18th, 2022</li>
                <li>March 6th, 2022</li>
                <li>May 4th, 2021</li>
            </ul>
            Prescribed by Dr. Jamie Fang (85743)<br />
            <i>Last edit: R.Ph Sam Jung</i>
        </div>
        <hr />
        <div class="med">
            <p><b>Rivaroxaban 10 mg</b> - Xarelto | <i>active</i> | Started on March 5th, 2022 | Take one tablet orally once daily</p>
            Recently filled on:
            <ul>
                <li>July 3rd, 2022</li>
                <li>March 5th, 2022</li>
            </ul>
            Prescribed by Dr. Jamie Fang (85743)<br />
            <i>Last edit: R.Ph Sam Jung</i>
        </div>
        <hr />
        <div class="med">
            <p><b>Vitamin D3 1000IU</b> - Jamieson - Vitamin D3 | <i>active</i> | Started on August 29th, 2022 | Take three tablets orally daily</p>

            <i>Last edit: John Smith</i>
        </div>
        <hr />
    </div>
    <div class="docs">
        <h3>Documents</h3>
        <div class="doc">
            <a href="">bloodwork_16jul2022.pdf</a> | <i>My Bloodwork</i> | Laboratory results<br />
            Created on July 16th, 2022
            <i>Last edit: John Smith</i>
        </div>
        <br />
        <div class="doc">
            <a href="">JSmithHospitalVisit.pdf</a> | <i>Hospital Summary</i> | Hospital documents<br />
            Created on May 14th, 2022
            <i>Last edit: John Smith</i>
        </div>
        <br />
        <div class="doc">
            <a href="">MEDSCHECKSUMMARY_JS.pdf</a> | <i>MedsCheck Summary</i> | Pharmacy documents<br />
            Created on June 4th, 2022
            <i>Last edit: R.Ph Sam</i>
        </div>
        <br />
        <div class="doc">
            <a href="">Vaccination_Shingrix_061622.pdf</a> | <i>Shingrix Vaccination</i> | Vaccination receipts<br />
            Created on June 4th, 2022
            <i>Last edit: R.Ph Sam</i>
        </div>
    </div>
</div>
</body>
</html>  